---
layout: default
---
<div id="about">
<h1>About</h1>
{% include about.html %}
<BR />
<a href='http://www.pledgie.com/campaigns/{{ page.pledgie }}'><img alt='Click here to lend your support at www.pledgie.com !' src='http://www.pledgie.com/campaigns/{{ page.pledgie }}.png?skin_name=chrome' border='0' align='right'/></a>
<BR />
</div>
<div id="news">
<h1>News</h1>
{% for post in site.categories.blog limit:5 %}
<div id="post">
<div id="post_title"><span id="title_left"><h2>{{ post.date | date: "%Y-%m-%d" }}</h2></span><span id="title_right"><h2><a href="/{{ post.project }}{{ post.url }}">{{ post.title }}</a></h2></span></div><div id="post_content">{{ post.content }}</div>
</div>
{% endfor %}
</div>
